*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body,html{
	height: 100%;
}
.container{
	max-width: 1020px;
	margin: 0 auto;
	padding: 0 2%;
}
.w60{width: 60%;}
.w40{width: 40%;}
																					/*Header*/

header{
	background-color: rgb(220,220,220);
	padding: 10px 0;
}	
header > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.logo{
	width: 150px;
	height: 70px;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}
.imagem-logo1{
	background-image: url('../images/logo1.png');
}
.imagem-logo2{
	background-image: url('../images/logo2.png');
}
																					/*Main*/

main > .container{
	display: flex;
	justify-content: flex-end;
	background-image: url("../images/bg-form.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.formulario{
	width: 40%;
	box-shadow: 1px 1px 5px #ddd;
	background-color: white;
	margin: 20px 0;
}
.formulario > h2{
	padding: 20px 10px;
	text-align: center;
	background-color: #ccc;
	font-size: 20px;
	font-weight: lighter;
}
.formulario > form{
	padding: 25px 15px;
}
.formulario > form .form-wraper{
	margin: 20px 0;
}
.formulario > form .form-wraper label{
	font-size: 15px;
	color: #525252;
	font-weight: lighter;
}
.formulario > form .form-wraper input:not([type=submit]){
	width: 100%;
	padding: 0px 10px;
	border: 1px solid #ccc;
	height: 40px;
}
.formulario > form .form-wraper input[type=submit]{
	width: 100%;
	margin: 15px 0;
	background-color: #033C50;
	height: 45px;
	border: none;
	font-size: 25px;
	color: white; 
}

																					/*Chamada*/

.cta > .container{
	position: relative;
	padding: 30px 0;
	color: white;
	text-align: center;
	background-color: #29526d;
}
.cta > .container > .simple-seta{
	position: absolute;
	left: calc(50% - 30px);
	top: -30px;
	display: inline-block;
	background-image: url("../images/arrow.png");
	width: 60px;
	height: 60px;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-origin: center;
	background-position: center;
}				
.cta > .container > h2{
	font-weight: normal;
	font-size: 23px;
	padding: 10px 0;
}
.cta > .container > p{
	font-size: 16px;
}
																					/*mosaico*/

section.mosaico > .container{
	background-color: #468670;
	padding: 0 0;
}
.single-mosaico{
	display: flex;
	flex-wrap: wrap;
}
.reverse{
	flex-direction: row-reverse;
}
.imagem-mosaico{
	background-position: center;
	background-size: cover;
}
.single-mosaico > .imagem-mosaico{
	width: 60%;
}
div.container > .single-mosaico:nth-child(1) > .imagem-mosaico{
	background-image: url('../images/mosaico1.jpg');
}
div.container > .single-mosaico:nth-child(2) > .imagem-mosaico{
	background-image: url('../images/mosaico2.jpg');
}
div.container > .single-mosaico:nth-child(3) > .imagem-mosaico{
	background-image: url('../images/mosaico3.jpg');
}
div.container > .single-mosaico:nth-child(4) > .imagem-mosaico{
	background-image: url('../images/mosaico4.jpg');
}
.texto-mosaico{
	padding: 30px;
}
.texto-mosaico p{
	color: white;
	font-size: 18px;
}

																					/*footer*/

footer{
	text-align: center;
	padding: 15px 0;
	background-color: rgb(220,220,220);
}
footer p{
	margin-top: 4px;
	font-size: 13px;
}
footer img{
	width: 120px;
}																					
																					/*Responsivo*/
@media screen and (max-width: 768px){
	.w60,.w40{
		width: 100%;
	}
	.single-mosaico > .imagem-mosaico{
		width: 100%;
		padding-top: 80%;
	}
	.texto-mosaico p{
		text-align: center;
	}
main > .container{
		justify-content: center;
	}
	.formulario{
		width: 80%;
	}
}
@media screen and (max-width: 510px){
	
	header > .container{
		flex-flow: column;
		align-items: center;
	}
	header > div.container .logo{
		margin-top: 10px;
	}
																						
}
