*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
}
body,html{
	height: 100%;
}
.container{
	max-width: 102rem;
	margin: 0 auto;
	padding: 0 2%;
}
.w50{max-width: 50%;}
.w40{max-width: 40%;}
html{
	font-size: 10px;
	scroll-behavior: smooth;
}
:root{
	--sombra-padrao: 0 .2rem .2rem rgba(0,0,0, .5);
}
																					/*Header*/

header{
	background-color: rgb(220,220,220);
	padding: 1rem 0;
}	
header > .container{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.logo{
	width: 15rem;
	height: 7rem;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-position: center;
}
.logo:hover{
	opacity: .9;
}
.imagem-logo1{
	background-image: url('../images/logo1.png');
}
.imagem-logo2{
	background-image: url('../images/logo2.png');
}
																					/*Main*/

main > .container{
	display: flex;
	justify-content: flex-end;
	background-image: url("../images/bg-form.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.formulario{
	width: 40%;
	box-shadow: .1rem .1rem .5rem #ddd;
	background-color: white;
	margin: 2rem 0;
}
.formulario > h2{
	padding: 2rem 1rem;
	text-align: center;
	background-color: #ccc;
	font-size: 2rem;
	font-weight: lighter;
	text-transform: uppercase;
}
.formulario > form{
	padding: 2.5rem 1.5rem;
}
.formulario > form .form-wraper{
	margin: 2rem 0;
}
.formulario > form .form-wraper label{
	font-size: 1.5rem;
	color: #525252;
	font-weight: lighter;
}
.formulario > form .form-wraper input:not([type=submit]){
	width: 100%;
	padding: 0px 1rem;
	border: 1px solid #ccc;
	height: 4rem;
}
.formulario > form .form-wraper input[type=submit]{
	width: 100%;
	margin: 1.5rem 0;
	background-color: #033C50;
	height: 4.5rem;
	border: none;
	font-size: 2.5rem;
	color: white; 
	cursor: pointer;
	box-shadow: var(--sombra-padrao);
}
.formulario > form .form-wraper input[type=submit]:hover{
	opacity: .9;
	color: black;
}

																					/*Chamada*/

.cta > .container{
	position: relative;
	padding: 3rem 0;
	color: white;
	text-align: center;
	background-color: #29526d;
}
.simple-seta{
	position: absolute;
	left: calc(50% - 3rem);
	top: -3rem;
	display: inline-block;
	background-image: url("../images/arrow.png");
	width: 6rem;
	height: 6rem;
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-origin: center;
	background-position: center;
	animation: pulse 1s infinite ease-in;
	box-shadow: var(--sombra-padrao);
	border-radius: 50%;
}
@keyframes pulse{
	0%{
		transform: scale(1);
	}
	50%{
		transform: scale(1.2);
	}
	100%{
		transform: scale(1);
	}
}				
.cta > .container > h2{
	font-weight: normal;
	font-size: 2.3rem;
	padding: 1rem 0;
	text-shadow: var(--sombra-padrao);
}
.cta > .container > p{
	font-size: 1.6rem;
	text-shadow: var(--sombra-padrao);
}
																					/*mosaico*/

section.mosaico > .container{
	background-color: #468670;
	padding: 0 0;
}
.single-mosaico{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.reverse{
	flex-direction: row-reverse;
}
.imagem-mosaico{
	width: 100%;
	background-position: center;
	background-size: cover;
	transition: .3s;	
}
.imagem-mosaico:hover{
	max-width: 60%;
}
.imagem-mosaico:not:hover{
	max-width: 50%;
}
div.container > .single-mosaico:nth-child(1) > .imagem-mosaico{
	background-image: url('../images/mosaico1.jpg');
}
div.container > .single-mosaico:nth-child(2) > .imagem-mosaico{
	background-image: url('../images/mosaico2.jpg');
}
div.container > .single-mosaico:nth-child(3) > .imagem-mosaico{
	background-image: url('../images/mosaico3.jpg');
}
div.container > .single-mosaico:nth-child(4) > .imagem-mosaico{
	background-image: url('../images/mosaico4.jpg');
}
.texto-mosaico{
	padding: 3rem 2rem;
}
.texto-mosaico p{
	color: white;
	font-size: 1.8rem;
	text-shadow: var(--sombra-padrao);
}

																					/*footer*/

footer{
	text-align: center;
	padding: 1.5rem 0;
	background-color: rgb(220,220,220);
}
footer p{
	margin-top: .4rem;
	font-size: 1.3rem;
}
footer img{
	width: 12rem;
}																					
																					/*Responsivo*/
@media screen and (max-width: 768px){
	.w50,.w40{
		max-width: 100%;
	}
	.imagem-mosaico:hover{
		max-width: unset;
	}
	.imagem-mosaico{
		width: 100%;
		padding-top: 80%;
	}
	.texto-mosaico p{
		text-align: center;
	}
	main > .container{
		justify-content: center;
	}
	.formulario{
		width: 90%;
	}
}
@media screen and (max-width: 510px){
	
	header > .container{
		flex-flow: column;
		align-items: center;
	}
	header > div.container .logo{
		margin-top: 1rem;
	}
																						
}
